.panel-row {
    box-sizing: border-box;    
    border: solid black 1px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 24px;
}

.panel-text {
    text-align:center;
    line-height:200px;
    width:400px;
    height:200px;
}

.bottom {
    margin-bottom: 24px;
}

.logo {
    height: 200px;
}

.list-pic {
    width: 200px;
}

.menu-item {
    margin-top: 12px;
}

body {
    align-content: center;
    text-align: center;
}
