.carousel-control-next {
    color: black;
}

.welcome-row {
    min-height: 50vh;
}

.jumbotron {
    margin-bottom: 0px !important;
    padding-top: 120px !important;
}

.welcome-card {
    margin: 0 auto;
    vertical-align: middle;
    top: 75px;
}

.carousel-inner {
    align-content: center;
    align-items: center;
    vertical-align: middle;
}

.caro-header {
    text-align: center;
    padding-top: 24px;
}

.content-restaurant {
    margin-top: 128px;
}

.header-restaurant {
    text-align: center;
    margin: 0 auto;
}

.cards-restaurant {
    margin-top: 64px;
}

.center {
    text-align: center;
}

.coll-restaurant {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.rest-card-img {
    margin: 0 auto;
    margin-top: 16px;
    width: 400px;
    height: auto;
}

.rest-prog {
    margin-top: 24px;
    margin-left: 18px;
    margin-right: 18px;
}

.rest-addy {
    margin-top: 8px;
    text-align: center;
}

.menu-header {
    margin-left: 18px;
}

.alert {
    margin-right: 24px;
    margin-left: 24px;
    bottom: 0 !important;
    position: fixed !important;
}

.content-checkout{
    margin-top: 128px;
}

.checkout-list {
    text-align:center;
}

.order-list {
    margin-top: 24px;
}

.price-header {
    margin-left: 18px;
    margin-top: 18px;
}